.show-info {
    height: 120px;
    overflow: hidden;
    transition: height .5s;
    interpolate-size: allow-keywords;
}

.show-info:hover {
    height: auto;
}



.show-info img {
    transition: 0.5s ease;
}

.wraped:hover> :not(:hover) {
    filter: blur(6px);
    opacity: 0.5;
}

@media (max-width: 1024px) {
    .show-info {
        height: 95px;
    }
}